/*Primeiro importamos a fonte utilizada para os campos exibidos no título e caixas de texto. A fonte foi importada do googlefonts.*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*O campo body diz respeito ao corpo de nossa página*/
body {
    background: url(assets/Background.png) no-repeat; /*Aqui é a imagem de fundo com o comando para não repetir*/
    background-size: cover; /*a imagem de fundo deve cobrir toda a tela*/
    margin: 0; /*zerando a margem, ou seja, vai pegar a partir do primeiro pixel*/
    font-family: 'Titillium Web', sans-serif; /*a fonte titillium é a principal, caso ocorra algum problema a sans-serif é exibida*/
}

/*Usamos body seguido de * Para dimensionar todos os elementos exibidos no corpo da página de acordo com a borda*/
body * {
    box-sizing: border-box;
}

/*Começamos a estilizar então nossa div principal, a main-login*/
.main-login {
    width: 100vw; /*Ela deve ocupar 100% da largura da tela, horizontal da viewport*/
    height: 100vh; /*Ela deve ocupar 100% da altura da tela, vertical da viewport*/
    display: flex; /*Display vai organizar todos os nossos elementos e através do flex serão posicionados lada a lado*/
    justify-content: center; /*usamos o justify para alinhar os elementos horizontalmente e center para centralizar*/
    align-items: center; /*usamos o align para alinhar os elementos verticalmente e center para centralizar*/
}

/*Passamos então para o espaço do lado esquerdo, reservado para a logo*/
.left-login {
    width: 45vw; /*esse espaço deve ocupar 45% da largura da tela, mas do lado esquerdo, horizontal da viewport*/
    height: 100vh; /*deve ocupar 100% da altura desse espaço, vertical da viewport*/
    display: flex; /*Display vai organizar todos os nossos elementos e através do flex serão posicionados lada a lado*/
    justify-content: right; /*usamos o justify para alinhar os elementos horizontalmente e right para deixá-lo mais a direita*/
    align-items: center; /*usamos o align para alinhar os elementos verticalmente e center para centralizar*/
}
    
/*Agora eu chamo a classe left-login-img que diz respeito a logo mostrada ao lado do login*/    
.left-login-img {
    width: 30vw; /*a logo deve ocupar 30% do dos 45% reservado na classe left-login, horizontal da viewport*/
}

/*Agora estilizamos o espaço do lado direito da tela, ele vai receber o card com os elementos de login*/
.right-login {
    width: 55vw; /*deverá ocupar 55% da largura da tela, mas do lado direito, horizontal da viewport*/
    height: 100vh; /*e ocupar 100% da altura desse espaço, vertical da viewport*/
    display: flex; /*Display vai organizar todos os nossos elementos e através do flex serão posicionados lada a lado*/
    justify-content: left; /*usamos o justify para alinhar os elementos horizontalmente e left para deixá-lo mais a esquerda, ficando ao lado da nossa logo*/
    align-items: center; /*usamos o align para alinhar os elementos verticalmente e center para centralizar*/
}

/*Chamamos então o nosso card-login para estilizar o seu formato*/
.card-login {
    width: 55%; /*dos 100% reservados para o right-login, nosso card deverá ocupar 55%*/
    display: flex; /*posicionando os elemntos lado a lado*/
    justify-content: center; /*o card será centralizado horizontalmente dentro desse espaço*/
    align-items: center; /*e verticalmente dentro desse espaço*/
    flex-direction: column; /*O comando flex-direction é usado para que os elementos se posicionem em colunas*/
    padding: 30px 35px; /*o card terá 30px de padding na horizontal e 35px na vertical, posicionado seus limites dentro desse espaço*/
    background: #000f20; /*Definimos a cor do card*/
    border-radius: 10px; /*e o border-radius para suavizar os cantos do box, deixando arredondados*/
    box-shadow: 0px 10px 40px #00000050; /*finalizando com um efeito de sombra, opx pra cima, 10px pra baixo e 40px pra direita*/
}

/*Novamente chamamos a card-login, mas agora apontamos para h1 que é o nosso título na box login*/
.card-login > h1 {
    color: #ffffff; /*Ela será de cor branca*/
    font-weight: 700; /*com uma espeçura de 700, seria o comando bold ou negrito*/
    margin: 0; /*pegando o topo do card*/
}
    
/*Chamamos o textfield organizar nossos campos de entrada para os dados*/    
.textfield {
    width: 100%; /*esse espaço ocupará 100% do espaço disponível*/ 
    display: flex; /*lado a lado*/
    flex-direction: column; /*os campos ficaram posicionados em colunas*/
    align-items: flex-start; /*os itens (rótulos) ficaram no ínicio de cada caixa*/
    justify-content: center; /*centralizados verticalmente no inicio de cada caixa*/
    margin: 10px 0px;
}
    
/*e aqui estilizamos esses campos*/ 
.textfield > input {
    width: 100%; /*ocupará 100% para os dados digitados dentro do espaço disponível*/
    border: none; /*as bordas da caixa ficaram desligadas*/
    border-radius: 5px; /*suavizando os cantos*/
    padding: 15px; /*o espaço para marcar o inicio de cada caixa*/
    background: #001731; /*a cor que cada caixa deve ter*/
    color: #f0ffffde; /*a cor das palavras digitadas será branca*/
    font-size: 12pt; /*o tamanho será de 12 pontos*/
    box-shadow: 0px 5px 20px #00000056; /*a sombra de cada caixa*/
    outline: none; /*ocultando a linha de contorno da caixa, quando selecionada*/
    box-sizing: border-box; /*o tamanho de cada caixa deve se basear nas bordas do card*/
}
    
/*Chamamos o textfield para estilizar o nome USUÁRIO e SENHA exibido acima do campo de digitação*/ 
.textfield > label {
    color: #f0ffffde; /*serão de cor branca*/
    margin-bottom: 10px; /*terão 10px de margem em relação a cada caixa de digitação*/
}
    
/*Aqui será estilizado a palvra indicativa dentro das caixas de digitação*/
.textfield > input::placeholder {
    color: #002355; /*a cor delas sera azul*/
}
    
/*Chamamos a classe button-login para estilizar nosso botão de entrada*/
.button-login {
    width: 50%; /*ocupará 50% do espaço reservado no card right-login*/
    padding: 16px 0px; /*16 pixels a direita e a esquerda*/
    margin: 25px; /*posicionado 25px na parte de cima do botão, preservando a distância entra a caixa da senha*/
    border: none; /*sem bordas*/
    border-radius: 5px; /*cantos suavizados em 5px*/
    outline: none; /*sem linhas de contorno quando selecionado*/
    font-weight: 800; /*peso da fonte em 800*/
    letter-spacing: 1px; /*espaçamento entre os caracteres de 1px*/
    color: #ffffff; /*caracter de cor branca*/
    background: #0054a7; /*a cor do botão será azul*/
    cursor: pointer; /*modifica a seta do mouse para cursor de ação*/
    box-shadow: 0px 10px 40px -12px #0054a7; /*sombra do botão entrar*/
}

/*Aqui definimos uma cor para a href que direciona para página de cadastro*/
a{
    color: rgb(29, 153, 153);

}


/*Os comandos de mídia ajustam a página para dispositivos com largura máxima 950px*/
@media only screen and (max-width: 950px) {
    .card-login{
    width: 85%
    }
}

/*Os comandos de mídia ajustam a página para dispositivos com largura máxima 600px*/
@media only screen and (max-width: 600px) {
    .main-login{
    flex-direction: column;
    }
    .left-login{
    width: 100%;
    height: auto;
    }
    .right-login{
    width: 100%;
    height: auto;
    }
    .left-login-img{
    width: 50vw;
    }
    .card-login{
    width: 90%;
    }
}