/*Primeiro importamos a fonte utilizada para os campos exibidos no título e caixas de texto. A fonte foi importada do googlefonts.*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*O campo body diz respeito ao corpo de nossa página*/
body {
    background-color: #ffffff no-repeat; /*Aqui é a imagem de fundo com o comando para não repetir*/
    background-size: cover; /*a imagem de fundo deve cobrir toda a tela*/
    margin: 0; /*zerando a margem, ou seja, vai pegar a partir do primeiro pixel*/
    font-family: 'Titillium Web', sans-serif; /*a fonte titillium é a principal, caso ocorra algum problema a sans-serif é exibida*/
}

.tela-home {
    width: 100vw; 
    height: 100vh; 
}

.home-head {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to right, #000e1f, #001836);
}

.home-head > h1 {
    color: #ffffff;
    font-size: 16pt; 
    margin: 16px;
    padding: 0px 45px;
}

.logo-img {
    position: absolute;
    width: 5%;
}

.home-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.home-product {
    position: absolute;
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0054a7;
    margin-top: 100px;
    margin-left: 20%;
    width: 20%;
    flex-direction: column;
    padding: 30px 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000050;
}

.home-product > h1 {
    color: #ffffff;
    font-size: 13pt; 
    margin: 0px;
    padding: 0px 0px;
}

.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}

.description-cadastrar {
    position: absolute;
    width: 38vw; 
    color: #000e1f;
    font-size: 12pt; 
    margin-left: 45%;
    margin-top: 9%;    
}

.home-product-cad {
    position: absolute;
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0185cf;
    margin-top: 350px;
    margin-left: 10%;
    flex-direction: column;
    width: 20%;
    padding: 30px 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000050;
}

.home-product-cad > h1 {
    color: #ffffff;
    font-size: 13pt; 
    margin: 0px;
    padding: 0px 0px;
}

.hand-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
}

.description-product-cad {
    position: absolute;
    width: 38vw; 
    color: #000e1f;
    font-size: 12pt; 
    margin-left: 35%;
    margin-top: 30%;    
}

.home-fornecedor {
    position: absolute;
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6bc6f3;
    margin-top: 600px;
    margin-left: 20%;
    width: 20%;
    flex-direction: column;
    padding: 40px 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000050;
}

.home-fornecedor > h1 {
    color: #ffffff;
    font-size: 13pt; 
    margin: 0px;
    padding: 0px 0px;
}

.fornecedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
}

.fornecedor-description {
    position: absolute;
    width: 38vw; 
    color: #000e1f;
    font-size: 12pt; 
    margin-left: 45%;
    margin-top: 51%;    
}

.home-cliente {
    position: absolute;
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001a35;
    margin-top: 850px;
    margin-left: 10%;
    width: 20%;
    flex-direction: column;
    padding: 40px 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000050;
}

.home-cliente > h1 {
    color: #ffffff;
    font-size: 13pt; 
    margin: 0px;
    padding: 0px 0px;
}

.cliente-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
}

.cliente-description {
    position: absolute;
    width: 38vw; 
    color: #000e1f;
    font-size: 12pt; 
    margin-left: 35%;
    margin-top: 72%;    
}

.home-nota {
    position: absolute;
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0054a7;
    margin-top: 1100px;
    margin-left: 20%;
    width: 20%;
    flex-direction: column;
    padding: 40px 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000050;
}

.home-nota > h1 {
    color: #ffffff;
    font-size: 13pt; 
    margin: 0px;
    padding: 0px 0px;
}

.nota-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
}

.nota-description {
    position: absolute;
    width: 38vw; 
    color: #000e1f;
    font-size: 12pt; 
    margin-left: 45%;
    margin-top: 91%;    
}

.home-caixa {
    position: absolute;
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0185cf;
    margin-top: 1350px;
    margin-left: 10%;
    width: 20%;
    flex-direction: column;
    padding: 40px 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000050;
}

.home-caixa > h1 {
    color: #ffffff;
    font-size: 13pt; 
    margin: 0px;
    padding: 0px 0px;
}

.caixa-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
}

.caixa-description {
    position: absolute;
    width: 38vw; 
    color: #000e1f;
    font-size: 12pt; 
    margin-left: 35%;
    margin-top: 112%;    
}

.home-venda {
    position: absolute;
    width: 70vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6bc6f3;
    margin-top: 1600px;
    margin-left: 20%;
    width: 20%;
    flex-direction: column;
    padding: 40px 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000050;
}

.home-venda > h1 {
    color: #ffffff;
    font-size: 13pt; 
    margin: 0px;
    padding: 0px 0px;
}

.venda-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
}

.venda-description {
    position: absolute;
    width: 38vw; 
    color: #000e1f;
    font-size: 12pt; 
    margin-left: 45%;
    margin-top: 133%;    
}

.menu ul {
    margin: 0;
    background: linear-gradient(to right, #002753, #00346e);
    list-style: none;
}

.menu ul li{
    display: inline;
}
.menu ul a {
    padding: 10px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;

}
.menu ul li a:hover {
    color: #0074f8;
}
.card-main > h1 {
    color: #ffffff;
}

.home-end {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to right, #000e1f, #001836);
}

.home-end > li {
    width: 25vw; 
    display: flex;
    padding: 20px 20px;
    color: #ffffff;
    font-size: 10pt; 
}




